.header_container
{
	width: 100%;
	background-color: #D2D2D2;
}

.header
{
	width: 1200px;
	padding: auto;
	height: 100px;
	background-color: #D2D2D2;
	alignment-adjust:central;
	margin: auto;
}

.menu
{
	width:1200px;
	height:42px;
	margin:auto;
	alignment-adjust:central;
	background-color:#111;
}

.game_details{
	width: 1200px;
	height: 300px;
	margin: auto;
	alignment-adjust:central;
	margin-top: 5px;
	position: relative;
}

#logo{
	width:160px;
	height: 300px;
	float: left;
	margin: auto;
}

#details{
	
	width: 1040px;
	height: 300px;
	float: left;
	
}

.page{
	width: 1000px;
	margin: auto;
	alignment-adjust:central;
	height: 300px;
}


.main
{
	width:1200px;
	height:auto;
	margin: auto;
	background-color:#CCFFFF;
	alignment-adjust:central;
}

.footer_container
{
	width: 100%;
	background-color: #6D6D6D;
	margin: auto;
}
.footer
{
	width: 1200px;
	background-color: #6D6D6D;
	height: 100px;
	padding-top: 40px;
}

